@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap");

:root {
  --btn-color: #e67e22;
  --text-color: rgb(136, 136, 136);
  --bg-color: #fdf2e9;
  --hover-color: #cf711f;
}
*:focus {
  outline: none;

  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

* {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  text-transform: capitalize;
  color: #555;
}
html {
  font-size: 1.2rem;
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html {
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--text-color);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 7rem;
  padding: 1.4rem;
  position: relative;
}

.logo {
  background-size: cover;
  height: 2rem;
}

.nav-main {
  display: flex;
  align-items: center;
  margin: 1rem;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.8rem;
  font-weight: 500;
  justify-content: space-between;
}

.nav-try {
  color: #fff;
  background-color: var(--btn-color);
  border-radius: 9px;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  text-align: center;
  margin-left: 0.3rem;
  font-weight: 500;
}
.nav-try:hover {
  cursor: pointer;
  background-color: var(--hover-color);
  transition: all 0.3s ease;
}
.main-nav-link {
  color: var(--text-color);
  font-size: 1.2rem;

  display: inline-block;
  transition: all 0.3s;
}
.main-nav-btn:hover {
  color: #fff;
}
.main-nav-link:hover {
  cursor: pointer;
  color: var(--hover-color);
  transition: all 0.3s ease;
}

.learn-more {
  background-color: #fff;
}
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}
.hero-img-box img {
}

.hero-img {
  width: 100%;
}

.heading-primary {
  font-size: 3.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}
.heading-primary {
  font-weight: 700;
  color: #333333;
  letter-spacing: -0.5px;
}
.decription {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.btn-learn-more {
  border-radius: 9px;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  text-align: center;
  margin-left: 0.3rem;
  font-weight: 500;
  align-self: center;
  background: #fff;
  color: var(--text-color);
  border: 3px solid #fff;
  transition: all 0.3s;
}
.btn-learn-more:hover {
  background-color: var(--bg-color);
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  border-radius: 50%;
  overflow: hidden;
  height: 3.6rem;
  width: 3.6rem;
  /*   object-fit: cover;
    object-position: center; */
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-text {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color);
}

.delivered-text span {
  color: var(--hover-color);
}

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.container {
  color: var(--text-color);
}
.heading-featured {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 4rem;
  color: #888;
}
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 2rem;
  filter: brightness(0);
  opacity: 50%;
}
.section-how {
  padding: 9.6rem 0;
}
.subheading {
  font-size: 1.1rem;
  color: var(--btn-color);
  text-transform: uppercase;
  font-weight: 600;
}
.heading-secondary {
  color: #333333;
  font-size: 2.6rem;
  line-height: 1.8;
  margin-bottom: 6.6rem;
}

.step-number {
  font-size: 5.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.heading-tertiary {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  color: #333333;
}
.step-decription {
  font-size: 1.1rem;
  line-height: 1.8;
}
.step-img {
  width: 25%;
  z-index: 10;
}
.step-img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step-img-box::before {
  width: 60%;
  /* height: 60%; */
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .step-img-box::before,
.step-img-box::after{
    background-color: #cf711f;
    border-radius: 50%;
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
} */

.section-meals {
  padding: 9.6rem 0;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
  border-radius: 18px;
  overflow: hidden;
  transition: all 0.3s;
  text-align: center;
}
.meal:hover {
  transform: translateY(-1rem);
  box-shadow: 0 3.2rem 6.4rem rgb(0 0 0 / 6%);
}
.meal-img {
  width: 100%;
}
.meal-attributes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  padding-bottom: 4rem;
  align-items: center;
  text-align: center;
}
.meal-attribute {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.meal-content {
  padding: 1.2rem 4.8rem 0.8rem 0.8rem;
  text-align: center;
}
.meal-tag {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.meal-tilte {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  color: #333333;
  border-radius: 100px;
  font-weight: 600;
}
.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}

.diets-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.diets-img {
  color: #e67e22;
}
.list-item {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  line-height: 1.2;
  color: #333;
}
.all-recipes {
  text-align: center;
  font-size: 1.1rem;
}
.link {
  display: inline-block;
  text-decoration: none;
  color: #e67e22;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
  text-align: center;
}

.link:hover {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

/*  TESTIMONIALS*/

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonials-container {
  padding: 6.6rem;
}

.subheading {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  letter-spacing: 0.75px;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 4.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1.2rem;
}
.testimonial-name {
  font-size: 1rem;
  color: #6f6f6f;
}
/* gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.5s;
  border-radius: 6px;
}
.gallery-item img:hover {
  transform: scale(1.1);
}

/* Pricing */
.pricing-plan {
  border-radius: 11px;
  width: 60%;
}
.pricing-plan--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 2rem;
}
.pricing-plan--complete {
  background-color: #fdf2e9;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

.plan-header {
  text-align: center;
  margin-bottom: 4rem;
}

.plan-name {
  color: #cf711f;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3rem;
}
.plan-price {
  font-weight: 600;
  color: #333;
  font-size: 3.5rem;
  margin-bottom: 1.6rem;
}
.section-pricing {
  padding: 7.6rem 0;
}
.plan-price span {
  font-size: 2rem;
  font-weight: 400;
  margin-left: 0.4rem;
}

.plan-text {
  font-size: 1rem;
  line-height: 1;
  color: #6f6f6f;
}
.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 1rem;
  border: none;
  border-radius: 9px;
  font-family: inherit;
  transition: all 0.3s;
  cursor: pointer;
  transition: background color 0.3s;
}
.btn--full {
  color: #fff;
  background-color: #e67e22;
}
.btn--full:hover {
  background-color: #cf711f;
}
.plan-sing-up {
  text-align: center;
  margin-top: 2rem;
}
.plan-details {
  font-size: 1rem;
  line-height: 1.2;
  text-align: center;
}
.price-img {
  color: #e67e22;
}
.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
/* Feature */
.feature-icon {
  color: #e67e22;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fdf2e9;
  padding: 1.1rem;
  margin-bottom: 2.4rem;
}
.feature-icon i {
  width: 100%;
  height: 100%;
  align-items: center;
}
.feature-title {
  font-size: 1.6rem;
  line-height: 1.8;
  font-weight: 700;
  color: #333;
}

.feature-text {
  font-size: 1.1rem;
  line-height: 1.8;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
  border-radius: 11px;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
}
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}
.cta-text {
  font-size: 1.4rem;
  line-height: 1.8;
  margin-bottom: 4rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form label {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 11px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../image/eating.jpg");
  background-size: cover;
  background-position: center;
}
.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-items: center;
  padding: 1rem;
}
.btn--form:hover {
  background-color: #fff;
  color: #555;
}
